    .main{
      padding: 5em;
      background-color: gray
    }

    table{
      width: 100%;
      background-color: white;
    }

    th{
      text-align: center;
      background-color: #1a237e;
      color: white;
    }

    .red-list{
      background-color: #045e19;
      color: white;
    }

    .blue-list{
      background-color:   #1a237e;
      color: white;
    }
    caption{
      font-size: 35px;
    }

    td{
      text-align: center;
    }